<strong>Olá, {{ provider }}</strong>
<p>
    Um evento foi cancelado, confira os detalhes abaixo:
</p>
<p>
    <strong>Cliente: </strong> {{ user }} <br />
    <strong>data/Hora: </strong> {{ date }} <br />
</p>
<small>
    O horátio está disponível para novos agendamentos.
</small>
<br />